.body {
  background-color: #098b55;
}

.forsidediv {
  display: block;
  margin-top: 30vh;
  text-align: left;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: right;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Pirata One', sans-serif;
  color: #000;
  font-size: 96px;
  line-height: 82%;
  letter-spacing: 0px;
  white-space: normal;
}

.columns {
  height: 300px;
}

.forsidelink {
  margin-top: 13px;
  font-family: 'Pirata One', sans-serif;
  color: #e0e0e0;
  font-size: 48px;
  line-height: 82%;
  text-decoration: none;
}

.forsidelink:hover {
  text-decoration: underline;
}

.forsidelink.arbeidlink {
  color: #fff;
  font-size: 64px;
  text-decoration: none;
}

.forsidelink.arbeidlink:hover {
  text-decoration: underline;
}

.div-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  width: 700px;
  height: 500px;
  margin-top: 28vh;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #080808;
  box-shadow: 3px 3px 19px -12px #000;
}

.div-block.arbeidsdiv {
  margin-top: 25vh;
  border-style: solid;
  border-width: 5px;
  border-color: #2a502e;
  border-radius: 0px;
  background-color: #111;
  box-shadow: 3px 3px 19px -12px #000;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Pirata One', sans-serif;
  color: #fff;
  font-size: 64px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.arbeidslink {
  margin-top: 40px;
  font-family: Spinnaker, sans-serif;
  color: #dedede;
  font-size: 30px;
  text-decoration: none;
}

.arbeidslink:hover {
  text-decoration: underline;
}

.image {
  color: #fff;
  font-size: 30px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image-2 {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .forsidediv {
    margin-top: 5vh;
  }

  .column {
    margin-top: 220px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }

  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .div-block.arbeidsdiv {
    width: 100vw;
    height: 100vh;
    margin-top: 0vh;
  }
}

@media screen and (max-width: 479px) {
  .forsidelink {
    margin-top: 20px;
  }

  .div-block.arbeidsdiv {
    width: 100vw;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-block-2 {
    margin-top: 0px;
  }

  .arbeidslink {
    line-height: 30px;
  }
}

