* {
    margin: 0;
    padding: 0;
  }

.centered {
    margin: 100px auto;
    width: 35vw;
    height: auto;
}

body {
    background: linear-gradient(to right,#511c7e,#1f2245);
    height: 75vh;
}

.jobtitle {
    font-size: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Fauna One', serif;
    color: white;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: #fcfcfc;
}

.links {
    text-decoration: none;
    margin-bottom: 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.pf-links {
    margin: 0 auto;
    width: 500px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.project-title {
    text-decoration: none;
    font-size: 24px;
    color: black;
    position: absolute;
    bottom: 0;
    float: left;
    padding: 15px;
}

.project-tripguard {
    position: relative;
    background-color: white;
    height: 250px;
}

.project-void {
    position: relative;
    margin-top: 35px;
    background-color: white;
    height: 250px;
}

.thumbnail {
    width: 100%;
    height: auto;
}

.thumbnail_mobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    body {
      height: auto;
    }

    .centered {
        width: 80vw;
    }

    .pf-links {
        width: 400px;
    }

    .project-title {
        font-size: 23px;
    }

    .thumbnail {
        display: none;
    }

    .thumbnail_mobile {
        display: block;
    }
  }